
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  padding: 10px;
  width: 500px;
  height: 400px;
  margin: 0 auto;

}

h2, h3 {
  color: #f0f6fc;
  border-bottom: #8b949e 1px solid;
  padding-bottom: 5px;
  font-size: 1.5em;
  text-align: none;
}
#extensionName{
  color: #58a6ff;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
#giteasebutton {
  color: #58a6ff;;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;

}


#searchType{
  width: 120px;
}

#languageSelect{
  width: 90px;
}
#sortSelect{
  width: 120px;
}
#minStars {
  width: 50px;
}

input, select, button {
  background-color: #161b22;
  border: 1px solid #30363d;
  color: #c9d1d9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  font-size: 14px;
}


button:hover {
  background-color: #4d8a58;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #161b22;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #30363d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #8b949e;
}

#searchInput {
  width: 90%;
  margin-right: 10px;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #30363d;
  background-color: #0d1117;
  color: #c9d1d9;
  font-size: 16px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#searchInput:focus {
  outline: none;
  border-color: #58a6ff;
  box-shadow: 0 0 5px rgba(88, 166, 255, 0.5);
}
